Source: capi-content-media-content
Section: libs
Priority: extra
Maintainer: Dongyoung Kim <dydot1.kim@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libmedia-service-dev, capi-base-common-dev, libmedia-utils-dev

Package: capi-content-media-content
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Media content library in Tizen Native API

Package: capi-content-media-content-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-content-media-content (= ${Source-Version}), dlog-dev, libmedia-service-dev, capi-base-common-dev, libmedia-utils-dev
Description: A Media content library in Tizen Native API (DEV)

Package: capi-content-media-content-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-content-media-content (= ${Source-Version})
Description: A Media content library in Tizen Native API (DBG)

